.wrap,.header,.logobar,.section,.main_2{
  display: flex;flex-wrap: wrap;
}
body{background-color: #E7E7E7;}
.wrap{
  width: 1024px; height: 768px;
}
.aside{width: 320px;}
header{
  width: 1024px; height: 300px;
  background-color: #6cc;
}
.header{
  justify-content: end;
  align-items: end;
  width: 320px; height: 300px;
}
.logobar{
  flex-direction: column;
  justify-content: end;
  height: 240px;
}
.pic1{width: 230px;height: 230px;}
.pic2{width: 50px;height: 50px;}
h3{
  font-size: 45px;
  font-weight: bold;
}
.logo1{color: #fff;}
.logo2{color: #2B8280;}
.logo3{color: #702B82;}
.logo4{color: #FF997C;}
.logo5{color: #827F52;}
h4{
  font-size: 35px;
  color: #fff;
}
.logobar>a{text-decoration: none;}
/* -----------------------------------  foot ------- */
nav{
  margin-top: 320px;
  margin-left: 130px;
}
.pic_home{width: 24px;}
footer{margin-left: 80px;}
footer,nav{
  font-family: 微軟正黑體;
  color: #827F52;
  font-size: 16px;
  font-weight: bold;
}
footer>a,nav>a{
  font-size: 20px;
  color: #827F52;
  text-decoration: none;
}
/* -----------------------------------  main_1------- */
.main_1{width: 702px; height: 766px;}
.section{
  width: 620px; height: 560px;
  margin: 100px auto;
}
iframe{
  width: 600px; height: 390px;
  border: #E7E7E7 20px solid;
}
.smPhoto{width: 110px;}
.smPhoto,.photo_show{border: #E7E7E7 5px solid;}
.smPhoto:hover{border-color: #FF997C;}
/* -----------------------------------  main_2------- */
.main_2{
  height: 620px;
  justify-content: space-evenly;
  padding-top: 20px;
}
.modal-dialog>.modal-content{width: 80vw;}
.fakePhoto{width: 240px;}
.photo_show{width: 80vw;}
/* -----------------------------------  @media------- */
@media(max-width:767px) {
    .wrap,.aside,header,.header,.main_2{
        width: 700px;}
    .wrap{height: 1020px;}
    .header{
      justify-content: space-evenly;
      align-items:start;
      padding-top: 33px;
    }
    .logobar{
      justify-content: space-between;
    }
    nav,.main_1{display: none;}
    .smPhoto{width: 240px;}
}