body * {
  box-sizing: border-box;     /* 使 box 空間計算上不易受影響 */
  /* box-shadow: 0 0 5px black;以便觀察各區塊的排版 */
}
.content{
  width: 1024px;  height: 650px;   /* 設定外層整體容器的寬高（約略） */
  margin:0 auto;                    /* 置中對齊 */
  background-image: url(../images/park.jpg);  /* 放置背景圖 */
  background-size: 1024px;          /* 背景圖寬度 */
  background-repeat: no-repeat;     /* 背景圖不重複 */
  display: flex;                   /* 以flex方式進行排版 */
  flex-wrap: wrap;      /* 超過寬度時則換行（預設不換行） */
}
.header{
  width: 340px;  height: 480px;
}
.main{
  width: 674px;  height: 480px;
  display: flex;      /* 將容器內的4個區塊以flex排列 */
  margin-top: 85px;   /* 依照圖片對齊狀況，進行微調 */
  margin-left: 10px;  /* 依照圖片對齊狀況，進行微調 */
}
.taiwan{
  width: 280px;  height: 90px;            /* 調整適當大小 */
  margin-left: 30px;  margin-top: 100px;  /* 調整適當位置 */
}
.taiwan:hover{            /* 當滑鼠滑過時，給予半透明色 */
  background-color: rgba(225, 238, 150, 0.2);
}
#pic1,#pic2,#pic3,#pic4{        /* 設定四張圖片的屬性 */
  border: 6px solid white;    /* 設定邊框 */
  box-shadow: 0 0 10px black; /* 陰影 */
  width: 145px;                 /* 依照圖片對齊狀況，進行微調 */
  margin: 0 7px;               /* 左右外距需相等，以便文字置中 */
}
.main>a{
  color: black;             /* 所屬文字改成黑色 */
  text-shadow:0 0 5px white;/* 白色陰影的效果 */
  position: relative; /* 設定為相對位置，以便子元素能進行定位 */
}
.park-name{
  font-size: 40px;
  font-weight: bold;
  width: 40px;        /* 將寬度設成40，強迫每個字都進行換行 */
  position: absolute; /* 以父元素作基準進行絕對位置的調整 */
  top: 50%;           /* 將定位點往下推到一半處 */
  left: 50%;          /* 再往右推一半，使定位點設在父層中心處 */
  transform: translate(-50%, -50%);
     /* 將文字區塊以本身的大小，從定位點往回校正置中 */
}
#pic1:hover {border: 6px solid greenyellow;} /* 滑鼠滑過特效 */
#pic2:hover {border: 6px solid yellow;}
#pic3:hover {border: 6px solid red;}
#pic4:hover {border: 6px solid cyan;}
.main>a:hover {
  color: white;
  text-shadow: 0 0 5px black;
}
footer{
  margin: 0 auto;             /* 水平置中 */
  font-family: 微軟正黑體;
  font-size: 16px;
}